.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}