.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.slick-dots li button:before {
    color: white !important;
  }

.slick-dots li.slick-active button:before {
    color: #FFC312 !important;
}