

{% extends 'base.html' %}
{% block title %}BCNEventer - Dashboard{% endblock title %}
{% block extra_head %}
    <style>
.background-image {
  {#background-image: url('https://www.triptemptation.com/media/991e8e96-a79f-43fe-af86-10a95ecf7131/ffHrIA/Wallpapers/Barcelona/i-love-barcelona-1/2560x1440_0028_i-love-barcelona-wallpaper.jpg');#}
  {#background-image: url('https://res.allmacwallpaper.com/get/iMac-21-inch-5K-Retina-wallpapers/Long-Expo-Barcelona-4096x2304/18514-13.jpg');#}
  background-image: url('../static/barcelona.jpg');
    background-size: cover;
  display: block;
  -webkit-filter: blur(5px);
    filter: blur(5px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
    opacity: 0.2;
}
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

    <script type="text/javascript">
        var mymap;
        recommendedEvents = [];
        window.onload = function () {
            // ADD THE MAP
            mymap = L.map('mapid').setView([41.3851, 2.1734], 13);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1Ijoic3R1ZmkwNCIsImEiOiJjam9yOTA0cWcwYzRmM3Bsa24zNzljZTkxIn0.9c2kk60e1nZdk247eAQQng'
            }).addTo(mymap);
            // ADD MARKERS
            recommendedEvents.forEach(function(recommendedEvent){
                var marker = L.marker([recommendedEvent.lat, recommendedEvent.long]).addTo(mymap);
                marker.bindPopup(recommendedEvent.name);
            });
        }
        // SAVE RECOMMENDED EVENTS
        function addRecommendedEvent(lat, long, name) {
            var recommendedEvent = {lat: lat, long: long, name: name};
            recommendedEvents.push(recommendedEvent);
        }
    </script>

{% endblock extra_head %}
{% block main %}
      <nav class="navbar navbar-light" style="background-color: #FFC312;">
    <a class="navbar-brand" href="#">BCNEventer - Dashboard</a>
      <p>Logged in as ({{ name }}) | <a href='logout'>Logout</a></p>
  </nav>

    <div class="background-image"></div>
    <div class="content row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="border-top: solid 1px black">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
{#                  <span data-feather="home"></span>#}
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
{#                  <span data-feather="file"></span>#}
                  Advanced Search
                </a>
              </li>

            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved preferences <span><a href="/preferences" style="font-size:0.8rem; color:darkred">[edit]</a></span></span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
                {% for c,i in cats.items() %}
              <li class="nav-item">
                <a class="nav-link" href="/cat/{{ i }}">
{#                  <span data-feather="file-text"></span>#}
                  {{ c }}
                </a>
              </li>
                {% endfor %}
            </ul>
          </div>
        </nav>
        <div class="col-md-10">
  <div class="content container">
{#    <h1>Dashboard</h1>#}
  <div>
      <h2 style="color: white; margin-top: 10px">Recommended Events</h2>
        <div id="mapid" style="height: 500px; width: 100%;"></div>
        {% for r in recommended %}
            <script type="text/javascript">
                addRecommendedEvent("{{r.coordinates[0]}}", "{{r.coordinates[1]}}", "{{r.name}}");
            </script>
        {% endfor %}
  </div>
  <div>
  <h2 style="color: white; margin-top: 20px">Available Events</h2>
    <div class="flex-container">
    {% for event in events %}
        <div class="card" style="width: 15rem; border: 2px solid black;">
            <img class="card-img-top" src="../static/event.jpg" width="200px" height="150px" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title" style="height: 70px;">{{ event.name }}</h6>
                <p class="card-text" style="height: 30px;">{{ event.coordinates }}</p>
                <p class="card-text" style="height: 20px;">{{ event.time }}</p>
                <a href="#" class="btn" style="background-color: #FFC312; color: black; border: 2px solid black;">SEE MORE</a>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>
  </div>
                </div></div>
{% endblock main %}