{% extends 'base.html' %}
{% block title %}BCNEventer{% endblock title %}
{% block main %}
  <h2>Available Events</h2>
    <div class="flex-container">
    {% for event in events %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/event.jpg" width="200px" height="150px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="height: 70px;">{{ event.name }}</h5>
                <p class="card-text" style="height: 30px;">Location: {{ event.coordinates }}</p>
                <p class="card-text" style="height: 20px;">Time: {{ event.time }}</p>
                <a href="#" class="btn btn-primary">SEE MORE</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock main %}