{% extends 'base.html' %}
{% block title %}BCNEventer - Personal Preferences{% endblock title %}
{% block extra_head %}
    <style>
.background-image {
    background-image: url('../static/barcelona.jpg');
    background-size: cover;
  display: block;
  -webkit-filter: blur(5px);
    filter: blur(5px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
    opacity: 0.2;
}
.texto_grande {
    font-size: 1.5rem;
    color: white;
}
#icone_grande {
    font-size: 8rem;
    color:#fff;
}

.check
{
    opacity:0.5;
	color:#996;

}
.check2{
    background-color: #ffba41;
}
.btn-purple {
  color: #ffffff;
  background-color: #611BBD;
  border-color: #130269;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #49247A;
  border-color: #130269;
}

.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #611BBD;
  border-color: #130269;
}

.btn-purple .badge {
  color: #611BBD;
  background-color: #ffffff;
}

    .btn-samawi {
  color: #ffffff;
  background-color: #39B3F5;
  border-color: #5CECFF;
}

.btn-samawi:hover,
.btn-samawi:focus,
.btn-samawi:active,
.btn-samawi.active,
.open .dropdown-toggle.btn-samawi {
  color: #ffffff;
  background-color: #24777A;
  border-color: #5CECFF;
}

.btn-samawi:active,
.btn-samawi.active,
.open .dropdown-toggle.btn-samawi {
  background-image: none;
}

.btn-samawi.disabled,
.btn-samawi[disabled],
fieldset[disabled] .btn-samawi,
.btn-samawi.disabled:hover,
.btn-samawi[disabled]:hover,
fieldset[disabled] .btn-samawi:hover,
.btn-samawi.disabled:focus,
.btn-samawi[disabled]:focus,
fieldset[disabled] .btn-samawi:focus,
.btn-samawi.disabled:active,
.btn-samawi[disabled]:active,
fieldset[disabled] .btn-samawi:active,
.btn-samawi.disabled.active,
.btn-samawi[disabled].active,
fieldset[disabled] .btn-samawi.active {
  background-color: #39B3F5;
  border-color: #5CECFF;
}

.btn-samawi .badge {
  color: #39B3F5;
  background-color: #ffffff;
}


    .btn-lime {
  color: #ffffff;
  background-color: #41CC2B;
  border-color: #35CC2D;
}

.btn-lime:hover,
.btn-lime:focus,
.btn-lime:active,
.btn-lime.active,
.open .dropdown-toggle.btn-lime {
  color: #ffffff;
  background-color: #357A24;
  border-color: #35CC2D;
}

.btn-lime:active,
.btn-lime.active,
.open .dropdown-toggle.btn-lime {
  background-image: none;
}

.btn-lime.disabled,
.btn-lime[disabled],
fieldset[disabled] .btn-lime,
.btn-lime.disabled:hover,
.btn-lime[disabled]:hover,
fieldset[disabled] .btn-lime:hover,
.btn-lime.disabled:focus,
.btn-lime[disabled]:focus,
fieldset[disabled] .btn-lime:focus,
.btn-lime.disabled:active,
.btn-lime[disabled]:active,
fieldset[disabled] .btn-lime:active,
.btn-lime.disabled.active,
.btn-lime[disabled].active,
fieldset[disabled] .btn-lime.active {
  background-color: #41CC2B;
  border-color: #35CC2D;
}

.btn-lime .badge {
  color: #41CC2B;
  background-color: #ffffff;
}

    .btn-darkblue {
  color: #ffffff;
  background-color: #30618C;
  border-color: #172547;
}

.btn-darkblue:hover,
.btn-darkblue:focus,
.btn-darkblue:active,
.btn-darkblue.active,
.open .dropdown-toggle.btn-darkblue {
  color: #ffffff;
  background-color: #1C384D;
  border-color: #172547;
}

.btn-darkblue:active,
.btn-darkblue.active,
.open .dropdown-toggle.btn-darkblue {
  background-image: none;
}

.btn-darkblue.disabled,
.btn-darkblue[disabled],
fieldset[disabled] .btn-darkblue,
.btn-darkblue.disabled:hover,
.btn-darkblue[disabled]:hover,
fieldset[disabled] .btn-darkblue:hover,
.btn-darkblue.disabled:focus,
.btn-darkblue[disabled]:focus,
fieldset[disabled] .btn-darkblue:focus,
.btn-darkblue.disabled:active,
.btn-darkblue[disabled]:active,
fieldset[disabled] .btn-darkblue:active,
.btn-darkblue.disabled.active,
.btn-darkblue[disabled].active,
fieldset[disabled] .btn-darkblue.active {
  background-color: #30618C;
  border-color: #172547;
}

.btn-darkblue .badge {
  color: #30618C;
  background-color: #ffffff;
}
    </style>
{% endblock extra_head %}
{% block main %}
      <nav class="navbar navbar-light" style="background-color: #FFC312;">
    <a class="navbar-brand" href="#">BCNEventer - Personal Preferences</a>
      <p>Logged in as ({{ name }}) | <a href='logout'>Logout</a></p>
  </nav>
    <div class="background-image"></div>
  <div class="content container">
{#    <h1>Dashboard</h1>#}

  <h2 style="color: white; margin-top: 10px">Select the categories of events that suit your interest:</h2>
        <div class="container" style="margin-top: 40px">
        <div class="row">
         <div class="col-md-3">
            <a class="btn btn-block btn-lg" onclick="$(this).toggleClass('btn-primary'); return false;" href="#">
                <i class="fa fa-users" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD Usuários</span></a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-block btn-lg" onclick="$(this).toggleClass('btn-primary'); return false;" href="#">
                <i class="fa fa-user" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-times-circle-o"></i> DEL Usuários</span></a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-block btn-lg" onclick="$(this).toggleClass('btn-primary'); return false;" href="#">
                <i class="fa fa-users" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-edit"></i> EDIT Usuários</span></a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-block btn-lg" onclick="$(this).toggleClass('btn-primary'); return false;" href="#">
                <i class="fa fa-user" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-list-ul"></i> LIST Usuários</span></a>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">
         <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-outline-warning" onclick="$(this).toggleClass('btn-outline-warning');$(this).toggleClass('btn-success'); return false;" href="#">
                <i class="fa fa-users" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD Usuários</span></a>
          </div>
          <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-outline-warning" onclick="$(this).toggleClass('btn-outline-warning');$(this).toggleClass('btn-success'); return false;" href="#">
                <i class="fa fa-user" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-times-circle-o"></i> DEL Usuários</span></a>
          </div>
          <div class="col-md-3">
              <input type="checkbox" name="chk1" id="item4" value="val1" class="btn btn-block btn-lg btn-outline-warning" onclick="$(this).toggleClass('btn-outline-warning');$(this).toggleClass('btn-success'); return false;" href="#">
{#            <a #}
                <i class="fa fa-users" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-edit"></i> EDIT Usuários</span>

            </input>
          </div>
          <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-outline-warning" onclick="$(this).toggleClass('btn-outline-warning');$(this).toggleClass('btn-success'); return false;" href="#">
                <i class="fa fa-user" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-list-ul"></i> LIST Usuários</span></a>
          </div>
        </div>
            <br><br>
{#                    <div class="row"style="margin-top: 30px">#}
{#         <div class="col-md-3">#}
{#            <a class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">#}
{#                <i class="fa fa-users" id="icone_grande"></i> <br><br>#}
{#                <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD Usuários</span></a>#}
{#          </div>#}
{#          <div class="col-md-3">#}
{#            <a class="btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#mymodal">#}
{#                <i class="fa fa-user" id="icone_grande"></i> <br><br>#}
{#                <span class="texto_grande"><i class="fa fa-times-circle-o"></i> DEL Usuários</span></a>#}
{#          </div>#}
{#          <div class="col-md-3">#}
{#            <a class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#mymodal">#}
{#                <i class="fa fa-users" id="icone_grande"></i> <br><br>#}
{#                <span class="texto_grande"><i class="fa fa-edit"></i> EDIT Usuários</span></a>#}
{#          </div>#}
{#          <div class="col-md-3">#}
{#            <a class="btn btn-block btn-lg btn-warning" data-toggle="modal" data-target="#mymodal">#}
{#                <i class="fa fa-user" id="icone_grande"></i> <br><br>#}
{#                <span class="texto_grande"><i class="fa fa-list-ul"></i> LIST Usuários</span></a>#}
{#          </div>#}
{#        </div>#}
        </div>
{#    {% for event in events %}#}
{#        <div class="card" style="width: 15rem; border: 2px solid black;">#}
{#            <img class="card-img-top" src="../static/event.jpg" width="200px" height="150px" alt="Card image cap">#}
{#            <div class="card-body">#}
{#                <h6 class="card-title" style="height: 70px;">{{ event.name }}</h6>#}
{#                <p class="card-text" style="height: 30px;">{{ event.coordinates }}</p>#}
{#                <p class="card-text" style="height: 20px;">{{ event.time }}</p>#}
{#                <a href="#" class="btn" style="background-color: #FFC312; color: black; border: 2px solid black;">SEE MORE</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}

  </div>
{% endblock main %}